.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.deleted-user {
  font-size: 14px;
  margin-left: 30px;
  color: cornflowerblue;
  font-weight: 300;
}

.deleted-user i {
  display: inline-block !important;
  position: static !important;
  font-size: 18px !important;
}

.postWrapper {
  padding: 10px;
  position: relative;
}

.postTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.postTop .location {
  position: absolute;
  left: 30%;
}

.postTop .location i {
  font-size: 35px !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.postTop .location i:hover {
  color: blueviolet !important;
  border-bottom: 3px solid black;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.postTopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postProfileImg {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 95%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.postBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postBottomLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.postCommentText b {
  color: blue;
  font-size: 18px;
  margin-left: 4px;
  font-weight: 700;
}

.like_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.like_div span {
  margin-left: 8px;
}

.like_div .fa-gratipay {
  font-size: 32px !important;
}

.like_div .fa-thumbs-up {
  font-size: 32px !important;
  margin-left: 50px;
}

.like_div i:hover {
  cursor: pointer;
}

.fa-bars {
  position: absolute;
  right: 0;
  cursor: cell;
}

.postTopRight {
  position: relative;
}

.postTopRight span {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  width: 150px;
  left: -140px;
  top: 30px;
  -webkit-box-shadow: 0px 10px 10px black;
          box-shadow: 0px 10px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postTopRight span:hover {
  color: red;
  cursor: pointer;
}

.postTopRight .update_post {
  margin-top: 40px;
}

.postTopRight .update_post:hover {
  color: blue;
}

.comment_form {
  text-align: center;
  position: relative;
  margin-top: 25px;
}

.comment_form .emoji-picker-react {
  width: 82% !important;
  position: absolute !important;
  top: 130px !important;
  right: 18%;
}

.comment_form button {
  width: 60px;
  height: 30px;
  background-color: #00BBD3;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  margin-top: 18px;
}

.comment_form textarea {
  width: 90%;
  resize: none;
  height: 120px;
  padding: 5px;
  padding-left: 10px;
  border: 2px solid #ccc;
  outline: none;
  border: 1px solid #00BBD3;
}

.comment_form textarea ::-webkit-input-placeholder {
  color: black;
  font-weight: 900;
}

.comment_form textarea :-ms-input-placeholder {
  color: black;
  font-weight: 900;
}

.comment_form textarea ::-ms-input-placeholder {
  color: black;
  font-weight: 900;
}

.comment_form textarea ::placeholder {
  color: black;
  font-weight: 900;
}

#comments_span {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#comments_span i {
  margin-left: 10px;
}

.update_form {
  position: absolute;
  bottom: 25%;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  margin-right: 0;
  height: 32px;
}

.update_form:hover {
  color: blue !important;
}

.update_form button {
  background-color: transparent;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.update_form button:hover {
  cursor: pointer;
  color: blue;
}

.update_form input {
  border: none;
  resize: none;
  outline: none;
  background: #FFFFFC;
  margin-right: 4px;
  height: 50px;
  padding-top: 20px;
  -webkit-box-shadow: 0 10px 10px black;
          box-shadow: 0 10px 10px black;
}

.update_form input:focus {
  height: 50px;
}

.update_form input::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
}

.update_form input:-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.update_form input::-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.update_form input::placeholder {
  color: black;
  font-size: 16px;
}

.update_form input:hover {
  background-color: whitesmoke;
}

.setting_post_div {
  background: #FFFFFC;
  height: 160px;
  width: 220px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid black;
  -webkit-box-shadow: 1px 5px 10px;
          box-shadow: 1px 5px 10px;
  border-radius: 2px 10px 2px 10px;
  top: 50px;
  opacity: 0.99;
  z-index: 1;
  color: black !important;
  font-size: 16px;
}

.setting_post_div span:hover {
  color: red;
  cursor: pointer;
}

.setting_post_div ::-webkit-input-placeholder {
  color: black;
}

.setting_post_div :-ms-input-placeholder {
  color: black;
}

.setting_post_div ::-ms-input-placeholder {
  color: black;
}

.setting_post_div ::placeholder {
  color: black;
}

.delete_post {
  margin-top: 20px;
  font-size: 19px;
}

.comment_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.commentsection {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
}

.author_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.author_comment span {
  font-size: 18px;
  color: indianred;
}

.comment_div {
  overflow-y: scroll;
  position: relative;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.comment_div .time {
  right: 2%;
  position: absolute;
  font-size: 12px;
  color: black;
  font-weight: 800;
}

.send {
  position: relative;
  height: 60px;
}

.send button {
  position: absolute;
  right: 4%;
  cursor: pointer;
}

.comment_div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.comment_div::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.comment_div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94));
}

.img_link {
  text-decoration: none;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.img_link:hover {
  border: 1px solid #1c3a94;
  border-radius: 20px;
  padding: 2px;
}

.desc_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.desc_comment i {
  color: red;
  font-size: 19px !important;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.desc_comment i:hover {
  font-size: 30px !important;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

.alert-enter {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  color: green;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 400ms, -webkit-transform 300ms;
  transition: opacity 400ms, -webkit-transform 300ms;
  transition: opacity 400ms, transform 300ms;
  transition: opacity 400ms, transform 300ms, -webkit-transform 300ms;
  color: red;
}

.coment-enter {
  opacity: 0;
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scaleY(-1.9);
          transform: scaleY(-1.9);
}

.coment-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.coment-exit {
  opacity: 0.8;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.coment-exit-active {
  opacity: 0;
  -webkit-transform: scaleY(-0.9);
          transform: scaleY(-0.9);
  -webkit-transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, transform 300ms;
  transition: opacity 600ms, transform 300ms, -webkit-transform 300ms;
}

.setting_post_div .emoji-picker-react {
  position: absolute !important;
  top: 155px !important;
  z-index: 999;
  right: 0px;
}

.setting_post_div .fa-smile-o {
  color: gold;
  position: absolute;
  right: 15%;
}

.modal_div {
  width: 100%;
  height: 100%;
}

.modal_div img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.modal_div button {
  position: fixed;
  top: 10px;
  right: 5px;
  background: transparent;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  border: none;
  color: red;
}

.modal_div button .fa-times-circle-o {
  font-size: 30px !important;
}

.ReactModal__Content {
  width: 60% !important;
  height: 500px !important;
}

.setting_post_div span {
  margin: 7px 5px 8px 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delete_post {
  margin-bottom: 13px !important;
}

.posts-images {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% -150px;
     object-position: 100% -150px;
}

.postImg {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.postImg:hover {
  opacity: 0.8;
}

.post-video {
  width: 100%;
  height: 400px;
}

.ReactModal__Overlay {
  z-index: 2;
}

.postLikeCounter {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.postLikeCounter:hover {
  color: black;
  -webkit-box-shadow: 0px 1px 0px #ccc;
          box-shadow: 0px 1px 0px #ccc;
}

.likelist-enter {
  opacity: 0;
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scaleX(2.9);
          transform: scaleX(2.9);
}

.likelist-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.likelist-exit {
  opacity: 0.8;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.likelist-exit-active {
  opacity: 0;
  -webkit-transform: scaleX(-0.9);
          transform: scaleX(-0.9);
  -webkit-transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, transform 300ms;
  transition: opacity 600ms, transform 300ms, -webkit-transform 300ms;
}

.heartlist-enter {
  opacity: 0;
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scaleX(-2.9);
          transform: scaleX(-2.9);
}

.heartlist-enter-active {
  opacity: 1;
  -webkit-transform: translateY(2);
          transform: translateY(2);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.heartlist-exit {
  opacity: 0.8;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.heartlist-exit-active {
  opacity: 0;
  -webkit-transform: scaleX(-0.9);
          transform: scaleX(-0.9);
  -webkit-transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, transform 300ms;
  transition: opacity 600ms, transform 300ms, -webkit-transform 300ms;
}

.likelist {
  height: 280px;
  overflow-y: scroll;
  margin-top: 10px;
  -webkit-box-shadow: 4px 10px 10px black;
          box-shadow: 4px 10px 10px black;
  border-top: 4px solid #ccc;
  padding-top: 5px;
  position: relative;
}

.likelist .likes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 0.5px solid #ccc;
}

.likelist span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.likelist .likes-user {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.likelist .icon-like-img {
  width: 30px;
  height: 30px;
}

.no-like {
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;
}

.setting_post_div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .emoji-picker-react {
    left: 20% !important;
  }
  .postLikeCounter {
    font-size: 10px;
  }
  .share {
    height: 180px;
  }
}
/*# sourceMappingURL=post.css.map */