.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .rightbarInfoValue {
  color: black;
}

.profile .span-name-deleted {
  font-size: 14px !important;
  margin: 0;
  color: brown;
}

.share-stori {
  cursor: pointer !important;
}

.profileRight {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCover form {
  margin-top: -10px  !important;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.spam-list {
  background-color: white;
}

.top {
  color: cornflowerblue !important;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.profileInfo .share-stori-btn {
  background-color: green;
  color: white;
  margin-right: 10px;
}

.profileInfo .share-stori-cancel-btn {
  background-color: red;
  color: white;
}

.profileInfo .user-profile-centre {
  text-align: center;
}

.profileInfo .stori {
  position: absolute;
  left: 5px;
  top: -70px;
  color: crimson;
  cursor: pointer;
  z-index: 2 !important;
}

.profileInfo .stori:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.profileInfo .stori i {
  font-size: 21px !important;
  cursor: pointer;
  font-style: italic;
  font-weight: 600 !important;
}

.profileInfoName {
  font-size: 24px;
  margin: 0;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-pencil-square {
  font-size: 50px;
}

h4:hover {
  text-decoration: underline;
}

.profile-update-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.profile-update-form .close_btn {
  color: red;
  width: 5px;
  border: none;
  background-color: transparent;
  font-size: 22px;
  position: absolute;
  right: 100px;
  top: -50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-update-form .close_btn:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.profile-update-form input {
  width: 200px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profile-update-form input:focus {
  -webkit-box-shadow: 10px 10px 10px #ccc;
          box-shadow: 10px 10px 10px #ccc;
  resize: none;
  outline: none;
}

.profile-update-form .ok_btn {
  background-color: #3197E4;
  height: 25px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.profile-update-form .ok_btn:hover {
  background: green;
}

.profile-update-form input[type="radio"] {
  width: 13px;
}

.profile-update-form label {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 25px;
}

.profile-update-form .inp_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.info_div {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  padding: 20px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.info_div .info-div-fild {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.info_div i {
  margin-right: 20px;
  cursor: pointer;
}

.info_div .fa-male, .info_div .fa-birthday-cake, .info_div .fa-venus-mars, .info_div .fa-american-sign-language-interpreting, .info_div .fa-graduation-cap, .info_div .fa-globe {
  color: #333399;
}

.info_div .fa-briefcase {
  color: #CC7722;
}

.info_div .fa-phone-square {
  color: green !important;
}

.info_div span {
  font-size: 20px;
  color: #3197E4;
}

.info_div h3 {
  font-size: 30px;
  width: 170px;
}

.info_div .fa-thumbs-down {
  font-size: 40px !important;
  color: #838996;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.info_div .fa-thumbs-down:hover {
  color: red;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#covercamera {
  position: absolute;
  right: 5px;
  top: 230px;
}

#profile_camera {
  position: absolute !important;
  left: 49%;
  bottom: 1px;
}

.change_photo, .change_photo_img {
  position: absolute;
  right: 0;
  color: white;
  width: 100px;
  border: none;
  border: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  top: 80%;
  text-align: center;
}

.change_photo button, .change_photo_img button {
  border: none;
  background: cornflowerblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.change_photo button:hover, .change_photo_img button:hover {
  background: green;
}

.change_photo span, .change_photo_img span {
  color: red;
  width: 100% !important;
  text-align: center;
}

.change_photo:hover, .change_photo_img:hover {
  cursor: copy;
}

.change_photo_img {
  left: 52.5%;
  bottom: 0;
}

.modal_div {
  width: 100%;
  height: 100%;
}

.modal_div img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.modal_div button {
  position: fixed;
  top: 10px;
  right: 5px;
  background: transparent;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  border: none;
  color: red;
}

.modal_div button .fa-times-circle-o {
  font-size: 30px !important;
}

.ReactModal__Content {
  width: 80% !important;
  height: 85vh !important;
}

.profileUserImg {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: top !important;
     object-position: top !important;
}

.profileModalImg {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100%;
     object-position: 100%;
}

.all-post {
  color: #318CE7;
  cursor: pointer;
}

.title-modal {
  text-align: center !important;
  position: relative;
}

.close_modal {
  border: none;
  background: transparent;
  color: red;
  font-size: 20px !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.close_modal:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.allpostimg {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hover-bg {
  position: absolute;
  width: 0px !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.post-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 2fr))[auto-fill] !important;
      grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)) !important;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.post-gallery .postimg-div {
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 300px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}

.post-gallery .postimg-div i {
  position: absolute;
  z-index: 999;
  visibility: hidden;
}

.post-gallery .postimg-div i:hover {
  color: violet;
  cursor: no-drop;
}

.post-gallery .postimg-div .fa-thumbs-up {
  top: 50%;
  right: 10%;
}

.post-gallery .postimg-div .fa-heart {
  top: 50%;
  right: 40%;
}

.post-gallery .postimg-div .fa-commenting {
  top: 50%;
  right: 70%;
}

.post-gallery .postimg-div:hover {
  border: 5px solid blue;
}

.post-gallery .postimg-div:hover .hover-bg {
  width: 100% !important;
  opacity: 0.8;
}

.post-gallery .postimg-div:hover i {
  visibility: visible;
}

.post-gallery img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.title-gallery {
  margin-left: 20px;
  -webkit-text-decoration: underline royalblue;
          text-decoration: underline royalblue;
}

.post-enter {
  opacity: 0.7;
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scaleY(-1.9);
          transform: scaleY(-1.9);
}

.post-enter-active {
  opacity: 1;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.post-exit {
  opacity: 0.8;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.post-exit-active {
  opacity: 1;
  -webkit-transform: scaleY(-0.9);
          transform: scaleY(-0.9);
  -webkit-transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, transform 300ms;
  transition: opacity 600ms, transform 300ms, -webkit-transform 300ms;
}

.ReactModal__Content {
  padding: 0 !important;
}

.ReactModal__Content input {
  height: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.ReactModal__Content .ok_btn {
  height: 29px;
}

.allpostimg {
  width: 100%;
  height: 100%;
}

.postaudio-div {
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 300px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  padding: 1px;
  text-align: center;
}

.postaudio-div audio {
  margin-top: 20px;
}

.postaudio-div i {
  margin-left: 20px;
}

.allfriends-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin: 0;
  width: 30px;
}

.allfriends-div:hover {
  color: #318CE7;
  cursor: pointer;
}

.allfriends-div:hover i {
  color: slateblue;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.allfriends-div .fa-users {
  color: gray;
  font-size: 30px !important;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.allfriends-div span {
  font-size: 20px;
}

.spam-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  position: relative;
  cursor: pointer;
  width: 120px;
}

.spam-div #spam-length {
  position: absolute !important;
  top: -25px !important;
  font-size: 17px !important;
  color: black !important;
}

.spam-div #spam-length .fa-exclamation-triangle {
  font-size: 16px !important;
}

.spam-div span {
  margin: 0;
}

.info-title {
  text-decoration: none;
  color: #318CE7 !important;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  width: 215px;
}

.information-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-shadow: 0px 0px 16px black;
          box-shadow: 0px 0px 16px black;
  border-radius: 12px;
  padding: 20 px;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

.information-user h1 {
  -webkit-text-decoration: underline #ccc;
          text-decoration: underline #ccc;
  margin-bottom: 10px;
  color: gray;
}

.information-user .info-fild-div {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #ccc;
  margin-top: 30px;
  min-height: 80px;
  position: relative;
}

.information-user .info-fild-div:hover {
  opacity: 0.7;
}

.information-user .info-fild-div:hover .fa {
  color: #6350dd !important;
}

.information-user .info-fild-div .rightbarInfoKey {
  font-size: 25px;
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.information-user .info-fild-div .rightbarInfoKey .fa-phone-square {
  color: green !important;
}

.information-user .info-fild-div .rightbarInfoKey i {
  font-size: 40px !important;
  color: gray;
  margin-right: 10px;
}

.information-user .info-fild-div .rightbarInfoValue {
  color: gray !important;
  font-size: 20px;
}

.postimg-div i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 100%;
}

.postimg-div i:hover {
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
}

.postaudio-div {
  height: auto;
  border-bottom: 2px solid #318CE7;
}

.postaudio-div i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.postaudio-div i:hover {
  color: #CC7722;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.change_photo_span {
  position: absolute;
  right: 37%;
}

.change_photo_bg_span {
  position: absolute;
  left: 0;
}

.fa-user-plus {
  color: #068B41;
}

.close-btn {
  color: #fff;
  border: 3px solid #c266d3;
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  width: 170px;
  height: 70px;
  padding-top: 20px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.close-btn:hover {
  background-position: 100%;
  color: #c266d3;
}

.profile .slick-slide {
  height: 90vh !important;
  width: 100%;
  overflow: hidden;
  color: #ccc;
}

.profile .slick-slide img {
  height: 100% !important;
}

.profile .slick-dots li button::before {
  font-size: 20px !important;
}

.profile .slick-prev {
  left: 1% !important;
}

.profile .slick-prev::before {
  content: '0' !important;
  color: #318CE7;
}

.slick-arrow {
  font-size: 30px !important;
  width: 30px !important;
  right: 1% !important;
  font-size: 40px !important;
  top: 40vh;
}

.slick-arrow::before {
  color: #318CE7;
  right: 5% !important;
  font-size: 35px;
}

.ReactModal__Content {
  overflow: hidden !important;
  border-radius: 5px !important;
}

.ReactModal__Overlay {
  opacity: 1 !important;
}

.slick-list .fa-times-circle-o {
  position: absolute !important;
  top: 5px !important;
  color: red;
  font-size: 30px !important;
}

.ReactModal__Content {
  overflow: scroll !important;
  margin-top: 20px;
}

.all-posts-section {
  -webkit-box-flex: 5.5 !important;
      -ms-flex: 5.5 1 !important;
          flex: 5.5 1 !important;
  padding-bottom: 25px;
}

.information-user {
  -webkit-box-flex: 5.5;
      -ms-flex: 5.5 1;
          flex: 5.5 1;
}

.slide-button {
  font-size: 20px !important;
  margin-left: 30px;
}

/*
 FORMATTING FOR CODEPEN
*/
.profile {
  /*
 BUTTON STYLING
*/
  /* BTN TWO */
}

.profile div[class*=container] {
  text-align: center;
  width: 99%;
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .container-2 {
  background: #4E598C;
}

.profile .btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.profile .btn span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  color: white;
  -webkit-text-decoration: underline whitesmoke;
          text-decoration: underline whitesmoke;
}

.profile .btn::before, .profile .btn::after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.profile .btn-two::before, .profile .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.profile .btn-two:hover::after {
  -webkit-animation-name: rotatecw;
          animation-name: rotatecw;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.profile .btn-two:hover::before {
  -webkit-animation-name: rotateccw;
          animation-name: rotateccw;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.profile .btn-two:hover::after, .profile .btn-two:hover::before {
  left: 96px;
  width: 64px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotatecw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotatecw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateccw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateccw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.info-div .spam-div {
  position: relative;
}

.info-div .spam-div #spam-length {
  position: absolute !important;
  top: -25px !important;
  font-size: 17px !important;
  color: black !important;
}

.spamlist-enter {
  opacity: 0;
  -webkit-transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, -webkit-transform 400ms;
  transition: opacity 400ms, transform 400ms;
  transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scaleX(3.6);
          transform: scaleX(3.6);
}

.spamlist-enter-active {
  opacity: 1;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.spamlist-exit {
  opacity: 0.8;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.spamlist-exit-active {
  opacity: 0;
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
  -webkit-transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, -webkit-transform 300ms;
  transition: opacity 600ms, transform 300ms;
  transition: opacity 600ms, transform 300ms, -webkit-transform 300ms;
}

.spam-list {
  height: 130px !important;
  position: absolute;
  top: -160px;
  border: 1px solid #ccc;
  height: 100px;
  width: 150px;
  -webkit-box-shadow: 5px 14px 4px black;
          box-shadow: 5px 14px 4px black;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  right: 40px;
}

.spam-list a {
  height: 40px;
}

.spam-list a:hover {
  background: lightblue;
  cursor: pointer;
}

.spam-list a:hover s span {
  color: black !important;
}

.rightbarInfoValue {
  text-transform: capitalize;
  font-weight: 500;
}

.spam-img {
  width: 35px !important;
  height: 35px;
  border-radius: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.span-name {
  font-size: 15px !important;
  color: black !important;
}

.dislike {
  width: 20px;
  height: 20px;
}

.spam-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  margin-bottom: 20px;
  text-align: left !important;
}

.spam-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileInfoName {
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .share {
    margin-bottom: 45px;
  }
  .info_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info_div .info-div-fild {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .info_div .allfriends-div {
    margin-right: 70px;
  }
  .info_div .info-title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 22px;
  }
  .info_div .all-post {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 22px;
  }
  .info_div .allfriends-div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .info_div .spam-div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 20px;
  }
}

@media screen and (max-width: 376px) {
  .all-post {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 22px !important;
  }
  .followins-section h3 {
    font-size: 22px !important;
  }
  .followers-section h3 {
    font-size: 22px !important;
  }
}
/*# sourceMappingURL=profile.css.map */